<div id="green">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 centered">
                <%= image_tag "iphone.png" %>
            </div>
            
            <div class="col-lg-7 centered">
                <h3>WHAT WE CAN DO?</h3>
                <p>見てる人がniconicoできるようなハイライトを提供します。</p>
                <p>動画を見ている時に、"高まる"、"興奮する" ような瞬間がわかります。</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row centered mt grid">
        <h3>niconicoする！！</h3>

		<% if flash[:notice] %>
		  <div class="alert alert-success">
		    <%= flash[:notice] %>
		  </div>
		<% end %>

        <div class="mt"></div>
        <div class="col-lg-12">
            <%= link_to image_tag("07.jpg"), { :controller => :home, :action => :movie } %>
        </div>

        <h3>トレンドタグ</h3>
        <div class="container">
        <div class="table-responsive">
        <table class="table table-hover ">
          <thead>
            <tr>
              <th>ranking</th>
              <th>tag name</th>
            </tr>
          </thead>
          <tbody>
          <% for num in 1..10 do %>
            <tr id="TagRanking">
              <td><%=num%></td>
              <td><a href=<%="/home/search/#{@trendtag[num]}"%>><%= @trendtag[num]%></a></td>
            </tr>
          <%end%>
          </tbody>
        </table>
        </div>
    
    <div class="row mt centered">
		<%= form_tag(controller: "home", action: "search", method: "post") do %>                             
            <div class="col-lg-7 col-lg-offset-1 mt">
				<%= text_field_tag(:q, @q, class: "form-control", placeholder: "sm* または keyword") %>                                 
            </div>
            <div class="col-lg-3 mt">
    				<%= submit_tag("再生", class: "btn btn-theme btn-lg") %>
			<%end%>
            </div>
        </form>
    </div>
</div>
