<!DOCTYPE html>
<h2>niconico</h2>

    <script type="text/javascript" src=<%= "http://ext.nicovideo.jp/thumb_watch/"+@id %>></script><noscript><a href= <%="http://www.nicovideo.jp/watch/"+ @id %>>nicovideo</a></noscript>
    <!--<script type="text/javascript" src="http://ext.nicovideo.jp/thumb_watch/sm11286859></script><noscript><a href="http://www.nicovideo.jp/watch/sm11286859">nicovideo</a></noscript>-->
    <BODY>
        <TABLE cellpadding="2" width="485" style="background-color : #c0c0c0;" cellspacing="0">
            <THEAD style="background-color : #c0c0c0 ;color : white;">
                <TR><TH>time</TH><TH align="left">comment</TH></TR>
            </THEAD>
            <TFOOT style="background-color : #c0c0c0 ;color : white;">
                <TR>
                    <TD colspan="2" align="right">&nbsp; total comments: <%= @comments.length %></TD>
                </TR>
            </TFOOT>
            <TBODY>
                <TR>
                    <TD colspan="2">
                        <DIV style="height:100px; overflow:auto;">
                            <TABLE id="myTBL" width="485" style="background-color : white;">
                                <colgroup span="1" width="140"></colgroup>
                                <colgroup span="2" width="140"></colgroup>
                                <TBODY>
                                    <% @comments.each do |com| %>
                                    <% if com['chat'].to_s.split(",").length == 9 then %>
                                        <% text = com['chat'].to_s.split(",")[8] %> 
                                    <% elsif com['chat'].to_s.split(",").length == 8 then %>
                                        <% text = com['chat'].to_s.split(",")[7]%>
                                    <!--<p><%= p text[13...-2] %></p> -->
                                    <% else %>
                                        <% next %>
                                    <% end %>
                                    <TR><TH>none</TH><TD><p><%= text[13...-2] %></p></TD></TR>
                                    <% end %>
                            </TBODY></TABLE>
                        </DIV>  
                    </TD>   
                </TR>   
            </TBODY>
        </TABLE>
    </BODY> 
