<div id="green">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 centered">
                <%= image_tag "iphone.png" %>
            </div>
            
            <div class="col-lg-7 centered">
                <h3>WHAT WE CAN DO?</h3>
                <p>見てる人がniconicoできるようなハイライトを提供します。</p>
                <p>動画を見ている時に、"高まる"、"興奮する" ような瞬間がわかります。</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row centered mt grid">
        <h3>niconicoする！！</h3>
        <div class="mt"></div>
        <div class="col-lg-12">
            <%= link_to image_tag("07.jpg"), { :controller => :home, :action => :movie } %>
        </div>
    </div>
    
    <div class="row mt centered">
		<%= form_tag(controller: "home", action: "search", method: "post") do %>                             
            <div class="col-lg-7 col-lg-offset-1 mt">
				<%= text_field_tag(:q, "", placeholder: "sm* または keyword") %>                                 
            </div>
            <div class="col-lg-3 mt">
    				<%= submit_tag("再生") %>                                                                        
			<%end%>
            </div>
        </form>
    </div>
</div>

