<div class="container">
    <div class="row mt centered">
        <%= form_tag(controller: "home", action: "search", method: "post") do %>
            <div class="col-lg-7 col-lg-offset-1 mt" data-step="1" data-intro="ここにキーワードを入力します。">
                <%= text_field_tag(:q, @q, class: "form-control input-lg", placeholder: "sm* または keyword") %>
            </div>
            <div class="col-lg-3 mt" data-step="2" data-intro="このボタンをクリックすると、動画を再生します。">
                <%= submit_tag("再生", class: "bolt-btn btn-theme btn-lg") %>
            </div>
        <%end%>
    </div>
    <hr>
    <div class="row centered mt grid">
        <div class="container" data-step="3" data-intro="トレンドタグをクリックすることで、動画を再生することもできます。">
            <h3>トレンドタグ</h3>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Ranking</th>
                            <th>Tag name</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% for num in 1..10 do %>
                        <tr id="TagRanking">
                            <td><%=num%></td>
                            <td><a href=<%="/home/search/#{@trendtag[num]}"%> data-no-turbolink="1"><%= @trendtag[num]%></a></td>
                        </tr>
                    <%end%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
