<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>niconico highlight(仮)</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <style>
            .axis text {
                font: 10px sans-serif;
            }

            .axis path,
            .axis line {
                fill: none;
                -webkit-text-stroke-color: #000;
                -webkit-text-stroke-width: 2;
            }
        </style>
        <script type="text/javascript">
         var _on = function(jquery_selector) { $(jquery_selector).addClass("active").removeClass("inactive"); }
         var _off = function(jquery_selector) { $(jquery_selector).addClass("inactive").removeClass("active"); }
         $(function() {
             $("#howtouse").hover(function() {_on("#howtouse");}, function() {_off("#howtouse")});
             $("#contact").hover(function() {_on("#contact");}, function() {_off("#contact")});
             $("#user").hover(function() {_on("#user");}, function() {_off("#user")});
             $("#howtouse").click(function() {introJs().start();});
         });
        </script>
    </head>
    <body>
        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <h2>
                        <% if user_signed_in? %> 
                        <%= link_to "niconico highlight(仮)", home_index_path %>
                        <% else %>
                        <%= link_to "niconico highlight(仮)", '/' %>
                        <% end %>
                    </h2>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li id="howtouse" class="inactive"><a href="javascript:void(0);return false;">このページの使い方</a></li>
                        <li id="contact" class="inactive"><a href="#f">Contact</a></li>
                        <% if user_signed_in? %> 
						    <li id="user" class="inactive"><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
						    <li id="user" class="inactive"><%= link_to "ログアウト", destroy_user_session_path %></li>
                        <% else %>
                            <li id="user" class="inactive"><%= link_to "サインイン", new_user_registration_path %></li>
                            <li id="user" class="inactive"><%= link_to "ログイン", new_user_session_path %></li>
                        <% end %>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
		<div class="container">
		<% flash.each do |key, value| %>
			  <% status = key == :notice ? "success" : "danger" %>
		  <%= content_tag(:div, value, style: "margin-top: 20px", class: "alert alert-#{status}") %>
	    <% end %>
	    </div>
		
        <%= yield %>

        <div id="f">
            <div class="container">
                <div class="row">
                    <% if user_signed_in? %> 
                    <p> Logged in as <strong><%= current_user.email %></strong> Created <i class="fa fa-heart"></i> by tebiti.</p>
                    <% else %>
					<p> Created <i class="fa fa-heart"></i> by tebiti.</p>
                    <% end %>
                </div>
            </div>
        </div>
    </body>
</html>
